/* Estilos de la card */
.card{
    background-color: black;
    border: 2px solid white;
    border-radius: 20px;
    width: 300px;
    overflow: hidden;
 }
 .card__container__img  {
   position: relative;
}
 .card__name{
   position: absolute;
   bottom:  0px;
   left: 10px;
   background-color: rgba(0, 0, 0, 0.61);
   padding: 5px 10px;
   border-radius: 5px;
   margin: 10px 0px;
 }
 .card__btn{
    padding: 5px 20px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: lightslategray
    
 }
 .card__btn:hover{
    box-shadow: -1px 1px 10px 2px rgba(255,255,255,0.68);
    color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.281);
 }
 
 .card__span{
    font-weight: 500;
 }

 .h2{
   margin: 0px 15px;
}

.d__flex{
   display:flex;
   justify-content: center;
   padding: 15px 0px;
}